__pycache__
.env
struct
*.log
flag.txt
# I swear, I'm not a vibe coder, I just use GROK, to make sure that I follow decent coding practices
grok.txt
install-docker.sh
secret.txt
/data
build
dist
todo.txt
testoutput
*.out
benchmarks
target
# Pre-Production files
*.test.py
json-loader.sh
dev-configs
stellaris-prototype
stellaris-prototype-v2
.pnpm-store
node_modules
.pypirc
*.cache.txt
test_*
stellaris_wallet
deploy_smart_contracts.py
SMART_CONTRACTS.md
docs
deployments.json
debug_sc_transaction.py
*.priv
*.bak
# Refrence
denaro